
// Border for images
$border-image-radius-desktop: 50px;
$border-image-radius-phone: 25px;


// Border for Buttons
$border-button-radius-phone: 10px;


//Border for sections
$border-radius-section: 40px;


@media only screen and (min-width: 768px) {
    .hm_boder-radius-section{
        border-radius: $border-radius-section;
    }
}