@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import './color';
@import './fonts';
@import './border';

//Fonts Weight
$medium: 500;
$bold: 700;

.btn-buy{

    border-radius: 10px;
    color: var($marmol);

    margin-top: 16px;
    transition: 0.2s;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    border-style: none;

    /* wp-Aqua */
    background: var($aqua-light-plus);
    
    /* Soft Shadow */
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);

}

.btn-buy-products{

    border-radius: 10px;
    color: $aqua-dark !important;

    margin-top: 16px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    border-style: none;

    /* wp-Aqua */
    background: var($aqua-light-plus);
}

@mixin button-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: $medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: $aqua-dark !important;
}

@mixin button-rounded-filled {
    font-family: 'Ubuntu', sans-serif;
    font-weight: $medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: $marmol !important;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background: $aqua !important;
    border-radius: $border-button-radius-phone;
}


@mixin button-rounded-filledv2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: $bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    color: $aqua-dark !important;
    margin: 1rem;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background: $marmol !important;

    border-style: none;
}

@mixin button-rounded-filled-large {
    font-family: 'Ubuntu', sans-serif;
    font-weight: $medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 64px;
    color: $marmol !important;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background: $aqua-dark !important;
    border-radius: $border-button-radius-phone;
}

.button-rounded-filled-large{
    @include button-rounded-filled-large;
}

.btn-buy:hover{
    color: $aqua-dark;
    background-color: $marmol;
    transition: 0.2s;
}
