@import './color';
@import './fonts';
@import './border';


@mixin card-frame{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $marmol;
    background-clip: border-box;
    border-radius: 2rem; 

    /* Soft Shadow */
    border-radius: 2rem !important;
    
}

@mixin card-title-desktop{
    font-family: Oxygen;
    font-style: normal;
    font-weight: $bold;
    font-size: 36px;
    line-height: 24px;
    color: $marmol !important;
}
@mixin card-title-phone{
    font-family: Oxygen;
    font-style: normal;
    font-weight: $bold;
    font-size: 24px;
    line-height: 18px;
    color: $marmol !important;
}
@mixin card-price-desktop{
    font-family: Oxygen;
    font-style: normal;
    font-weight: $bold;
    font-size: 16px;
    line-height: 18px;
    color: $marmol !important;
}
@mixin card-price-phone{
    font-family: Oxygen;
    font-style: normal;
    font-weight: $bold;
    font-size: 16px;
    line-height: 18px;
    color: $marmol !important;
}

@mixin card-info-text{
    font-family: Oxygen;
    font-style: normal;
    font-weight: $bold;
    font-size: 13px;
    line-height: 16px;
    color:$aqua-dark;
}

@mixin card-info-text-v2{
    font-family: Oxygen;
    font-style: normal;
    font-weight: $bold;
    font-size: 13px;
    line-height: 16px;
    color: $aqua-light-plus !important;
}

@mixin card-v2{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $aqua-dark;
    background-clip: border-box;
    border-radius: 2rem; 
}

.card-img-top{
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}

.card{
    @include card-frame;  
}
.card-price{
    @include card-price-phone
}
.card-title{
    @include card-title-phone;
}
.card-info-text{
    @include card-info-text;
}
.card-info-text-v2{
    @include card-info-text-v2;
}
.card-v2{
    @include card-v2;
}


@media only screen and (min-width: 768px) {
    .card-price{
        @include card-price-phone
    }
    .card-title{
        @include card-title-phone;
    }
    .card-info-text{
        @include card-info-text;
    }
    
}
@media only screen and (min-width: 1024px) {
    .card-price{
        @include card-price-desktop;
    }
    .card-title{
        @include card-title-desktop;
    }
    .card-info-text{
        @include card-info-text;
    }
    
}





