@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import './color';

*{
    font-family: 'Ubuntu', sans-serif;
}

//Fonts Weight
$medium: 500;
$bold: 700;

@mixin button-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: $medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: $aqua-dark !important;
    font-size: 20px;
    text-transform: uppercase;
}

@mixin h1-title-desktop {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: $bold;
    font-size: 96px;
    line-height: 80px;
    letter-spacing: 0.01em;
    color: $marmol !important;
}

@mixin h2-subtitle-desktop {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: $bold;
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0.05em;
    color: $aqua !important;
}


@mixin h1-title-iPadPro{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: $bold;
    font-size: 66px;
    line-height: 76px;
    letter-spacing: 0.01em;
    color: $marmol !important;
}

@mixin h2-subtitle-iPadPro{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: $bold;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: $aqua !important;
}

@mixin h1-title-phone {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: $bold;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: $marmol !important;
}

@mixin h2-subtitle-phone {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: $bold;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $aqua !important;
}

.title{
    @include h1-title-phone;
}
.subtitle{
    @include h2-subtitle-phone;
}

@media only screen and (min-width: 768px) {
    .title{
        @include h1-title-iPadPro;
    }
    .subtitle{
        @include h2-subtitle-iPadPro;
    }
}
@media only screen and (min-width: 1024px) {
    .title{
        @include h1-title-desktop();
    }
    .subtitle{
        @include h2-subtitle-desktop();
    }
}