@import './border';


.img-fluid{
    width: 100% !important;
    height: 210px !important;
    object-fit: cover !important;
}


.small-product-image{
    object-fit: cover !important;
    max-width: 100px !important;
    max-height: 100px !important;
    border-radius: 10px;
}

@media only screen and (min-width: 768px) {
    .img-fluid{
        width: 100% !important;
        height: 493px !important;
        object-fit: cover !important;
    }
    .small-product-image{
        object-fit: cover !important;
        max-width: 100px;
        max-height: 100px;
        border-radius: 10px;
    }
}
@media only screen and (min-width: 1024px) {
    .img-fluid{
        width: 100% !important;
        height: 580px !important;
        object-fit: cover !important;
    }
    .small-product-image{
        object-fit: cover !important;
        max-width: 100px;
        max-height: 100px;
        border-radius: 10px;
    }
}


