@import './color';

.single-prod-quantity-input{
    width: 60px;
    margin: 0 8px;
    padding: 0 16px;
    font-size: 30px;
    line-height: 30px;
    outline: none;
    border: none;
    background: transparent;
}