@import './color';

.single-prod-quantity-input{
    margin: 0 8px;
    padding: 8px;
    font-size: 30px;
    line-height: 30px;
    outline: none;
    border: none;
    // background: transparent;
}