@import "./components/card";
@import "./components/color";
@import "./components/buttons";
@import "./components/border";
@import "./components/fonts";

body,
html {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $marmol;
}

/*--------------------HOME--------------------------*/

.abt_main_content {
  padding: 1rem;
  background-color: $aqua-dark;
}

.abt_subtitle {
  margin-left: 10%;
}

.abt_containerText {
  @include card-price-desktop;
}

.hm_boder-radius-section {
  border-radius: 0px;
}

.abt_img_holder {
  width: 100%;
}

.abt_secondary_content {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .hm_boder-radius-section {
    border-radius: 50px;
  }

  .abt_main_content {
    padding: 2rem;
  }

  .abt_subtitle {
    margin-left: 9%;
  }

  .abt_img_holder {
    width: 100%;
  }

  .abt_secondary_content {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .hm_boder-radius-section {
    border-radius: 50px;
  }

  .abt_subtitle {
    margin-left: 6%;
  }

  .abt_main_content {
    padding: 5rem;
  }

  .abt_img_holder {
    width: 100%;
  }

  .abt_secondary_content {
    margin-top: 3rem;
  }
}
