@import './components/card';
@import './components/color';
@import './components/buttons';
@import './components/border';
@import './components/fonts';
@import './about-style';

body, html {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    height: 100%;
    padding: 0;
    margin: 0; 
    background-color: $marmol;
}

/*--------------------HOME--------------------------*/

.ct_content{
    padding: 1rem;
    background-color: $aqua-dark;
}

.ct_containerText{
    font-family: Oxygen;
    color: $marmol;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
}

.ct_subtitle{
    margin-left: 10%;
}

.ct_mainTitles{
    text-align: right;
}

.ct_formContainer{
    margin: 2rem -1rem 0rem -1rem;
    padding: 0.5rem;
    background-color: $aqua-dark;
}

.form-group{
    font-family: Oxygen;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: $marmol;
    margin: 1rem 0rem;
}

.form-row{
    font-family: Oxygen;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: $marmol;
    flex-direction: row;
}

#inputName{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

#inputEmail{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

#inputMessage{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    padding-bottom: 150px;
}

.button-send{
    @include button-rounded-filled-v2;
}

.button-send:hover{
    box-shadow: 1px 1px 10px #000000;
}

.hm_boder-radius-section{
    border-radius: 0px;
}

@media only screen and (min-width: 768px) {
    .hm_boder-radius-section{
        border-radius: 50px;
    }

    .ct_content{
        padding: 2rem;
    }

    .ct_formContainer{
        padding: 2rem;
    }
}

@media only screen and (min-width: 1280px) {
    .hm_boder-radius-section{
        border-radius: 50px;
    }

    .ct_content{
        padding: 5rem;
    }

    .ct_formContainer{
        display: flex;
        flex-direction: row;
        padding: 5rem;
        margin: 2rem 0rem;
    }
}