@import './components/card';
@import './components/color';
@import './components/buttons';
@import './components/border';
@import './components/fonts';
@import './components/input';
@import './components/images';
@import './components/alert';



body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $marmol !important;
}

// Header
// Here are all the classes that is used in header

.navbar-nav li a{
    @include button-text;
    text-decoration: none !important;
}

// Header End

// Home
// Landing Image Section
.button-rounded-filled{
    @include button-rounded-filled;
}
.border-image-radius{
    border-radius: $border-image-radius-phone;
}
// Landing Image Section End

// Our Products Section

// Our Products Section End

// Home End


@media only screen and (min-width: 1280px) {

    // Header
    // Here are all the classes that is used in header

    // Header End

    // Home
    // Landing Image Section
    
    .border-image-radius{
        border-radius: $border-image-radius-desktop;
    }
    // Landing Image Section End
    
    // Our Products Section

    // Our Products Section End
}
