@import './components/card';
@import './components/color';
@import './components/buttons';
@import './components/border';
@import './components/fonts';
@import './about-style';




body, html {
    height: 100%;
    padding: 0;
    margin: 0; 
    background-color: $marmol;
}

// Header
// Here are all the classes that is used in header

.navbar-nav li a{
    @include button-text;
    text-decoration: none !important;
}

// Header End

// Home
// Landing Image Section
.title{
    @include h1-title-phone;
}
.subtitle{
    @include h2-subtitle-phone;
}
.button-rounded-filled{
    @include button-rounded-filled;
}
.border-image-radius{
    border-radius: $border-image-radius-phone;
}
// Landing Image Section End

// Our Products Section
.card{
    border: none;
    background-color: none;
    @include card-frame;  
}
.border-card-image-radius{
    border-radius: $border-card-image-radius;
}
.card-price{
    @include card-price-phone
}
.card-title{
    @include card-title-phone;
}
.card-info-text{
    @include card-info-text;
}
.icon-color{
    color: $marmol;
}

// Our Products Section End

// Home End


@media only screen and (min-width: 1280px) {

    // Header
    // Here are all the classes that is used in header

    .botton-text{
        @include button-text;
    }

    // Header End

    // Home
    // Landing Image Section
    .title{
        @include h1-title-desktop;
    }
    .subtitle{
        @include h2-subtitle-desktop;
    }
    .button-rounded-filled{
        @include button-rounded-filled;
    }
    .border-image-radius{
        border-radius: $border-image-radius-desktop;
    }
    // Landing Image Section End
    
    // Our Products Section
    .border-section{
        border-radius: $border-radius-section;
    }
    .card{
        border: none;
        background-color: none;
        @include card-frame;  
    }
    .border-card-image-radius{
        border-radius: $border-card-image-radius;
    }
    .card-price{
        @include card-price-desktop;
    }
    .card-title{
        @include card-title-desktop;
    }
    .card-info-text{
        @include card-info-text;
    }

    // Our Products Section End
}
